.folder-item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.folder-item:hover{
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
    gap: 20px;
}
.folder-item:active{
    background-color: #ff0000;
    display: flex;
    align-items: center;
    gap: 20px;
}

.folder-item .name{
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3F4350;

    padding: 1rem 0 1rem 0
}
.folder-item .date{
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(63, 67, 80, 0.56);
}