.table{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    text-decoration: none;
}
.table *{
    text-decoration: none;
}
.tiles{
    margin-bottom: 10rem;
}
.screen{
    margin-left: 10px;
}
.test{
    display: flex;
    width: 100%;
}
.side{
   background-color: rgba(104, 188, 224, 0.1);
   width: 400px;
   height: 1100px;
}