.bigLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px;
}
.bigLogo img{
    width: 100%;
    height: 100%;
}
.authWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}